<div class="map-container">
    <agm-map
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [zoomControl]="true">

        <agm-circle
            [latitude]="lat"
            [longitude]="lng"
            [radius]="35000"
            [fillColor]="'red'"
            [fillOpacity]="0.5"
            [strokeColor]="'red'"
            [strokeOpacity]="1.0"
            [strokeWeight]="0"
            [circleDraggable]="true"
            [editable]="false"
            (dragEnd)="circleDragEnd($event)">
        </agm-circle>

    </agm-map>
</div>
