<div class="lists-container">
    <div class="list-item titles">
        <div class="item">Day</div>
        <div class="item">Leads per day</div>
        <div class="item">Schedule</div>
        <div class="item">Active</div>
    </div>
    <div *ngFor="let day of dailyLeads | keys"
        class="list-item">
        <p class="item">{{day}}</p>
        <div class="item">
            <select [(ngModel)]="dailyLeads[day].leadsPerDay">
                <option *ngFor="let value of leadsPerDayValues" [ngValue]="value">
                    {{value.toString() === 'Infinity' ? '∞' : value}}
                </option>
            </select>
        </div>
        <div class="item">
            <label>
                <input type="text" [(ngModel)]="dailyLeads[day].timeFrom">
            </label>
            -
            <label>
                <input type="text" [(ngModel)]="dailyLeads[day].timeTo">
            </label>
        </div>

        <div class="item">
            <label (change)="isActiveDay(day)">
                <input type="checkbox" [checked]="dailyLeads[day].isActive" class="ios-switch"/>
                <div>
                    <div></div>
                </div>
            </label>
        </div>
    </div>
</div>
